# :UltiSnipsEditを実行して以下をコピー

snippet #frz "frozen string literal"
# frozen_string_literal: true
endsnippet

snippet itis "rspec it is_expected"
it { is_expected.to }
endsnippet

snippet itdo "rspec it block"
it "" do
end
endsnippet

snippet rdesc "rspec describe"
describe "" do
end
endsnippet

snippet cntx "rspec context"
context "" do
end
endsnippet
